# Frontend local SaaS environment
VITE_API_URL=http://127.0.0.1:8000/api/v1

# Optional tenant host strategy (future use)
VITE_APP_BASE_DOMAIN=localhost
VITE_TENANT_SLUG=demo-cea
VITE_BRAND_NAME=SIAEC
VITE_BRAND_TAGLINE=Sistema Integral de Administracion para Escuelas de Conduccion
VITE_BRAND_LOGO_URL=/vite.svg
